.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.wrapper {
  position: relative;
}


.teams-container {
  width:  70%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  text-align: left;
  justify-content: flex-start;
  box-sizing: border-box;
}

.team-table {
  display: block;
  width: 30%;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px 0;
}

.team-table h2 {
  margin-top: 0;
  padding: 0 10px 10px 10px;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}

.team-table .table {
}

.table__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.table__row:nth-child(2n+1) {
  background: #eee;
}

.table__cell {
  display: block;
  flex-grow: 1;
  padding: 5px;
}

.table__cell.fixed {
  width: 150px;
  text-align: right;
}

.tools {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  box-sizing: border-box;
  text-align: left;
}

.tools > div {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.tools ul {
  list-style: none;
  padding: 0;
}

.tools ul > li {
  padding: 2px 5px;
  margin: 2px;
  background: rgba(0,0,0,0.1);
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

.tools ul > li.selected {
  background: rgba(0,0,0,0.3);
}